/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	background-color: #F3F3F3;
 }

 th {
 	background-color: #EDEDED;
 }

 .box {
/* 	background-color: white;
 	border: 1px solid #EDEDED;
 	margin: 10px;
 	padding: 20px;*/
 }

 .box-container {
 	margin-bottom: 25px;
 	background-color: white;
 	border: 1px solid #EDEDED;
  	padding: 20px;
 }

 .recap_big {
 	font-size: 40px;
 	font-weight: bold;
 }

 .recap_small {
 	font-size: 18px;
 }

 #recap {
 	height: 300px;
 }

 #movements_container {
 	height: 300px;
 	overflow: auto;
 }

.custom-large-title{
    font-size: 5em;
}